<a href="https://colab.research.google.com/github/harrisontg57/NLP_Spring_2021/blob/main/Homework0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
NLP Course Spring 2021

Tim Harrison ID: 002-24-5948

Problem 1

In [ ]:
def factorial(n):
  if n == 0 or n == 1:
    return 1
  return n * factorial(n-1)

factorial(10)

3628800

Problem 2

In [3]:
def isPrime(n):
  if n<= 1:
    return False
  for k in range(2,n):
    if n%k == 0:
      return False
  return True

print(isPrime(3))

print(isPrime(1251))

True
False

Problem 3
(Assuming our matrix is a list of lists and every internal list is the same size)

In [27]:
def transpose(m):
  if len(m) == 1 and len(m[0]) == 1:
    return m
  x = len(m)
  y = len(m[0])
  nx = []
  for j in range(y):
    fy = []
    for b in range(x):
      ffy = m[b][j]
      fy.append(m[b][j])
    nx.append(fy)
  return nx

test = [[1,1,1],[1,1,1],[1,1,1]]
test2 = [[1,2],[3,4],[5,6]]

print(transpose(test))
#print(transpose(test2))

[[1, 1, 1], [1, 1, 1], [1, 1, 1]]

Problem 4 (Assuming pandas function 'combine' is off limits)

In [65]:
import pandas as pd
import numpy as np

def combine(a:pd.Series, b:pd.Series):
  nseries = a.copy()
  return nseries.append(b)


np.random.seed(0)
series1 = pd.Series(np.arange(10))
series2 = pd.Series(np.arange(26))
#print(series1)
#print(series2)
print(combine(series1,series2))

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64

Problem 5